*.iml
.gradle/
.gradle-user-home/
/local.properties
/.idea/
**/build/
/build/
/captures/
.externalNativeBuild/
.cxx/
Thumbs.db
.DS_Store
*.keystore
*.jks
/google-services.json
!/app/google-services.json
firebase-debug.log*
firestore-debug.log*
storage-debug.log*
ui-debug.log*
functions/node_modules/
functions/.env*
functions/serviceAccount*.json
functions/*firebase-adminsdk*.json
